* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
body {
    background-color: white;
}
  
.mainbox {
    width: 1390px;
    height: 1036px; 
    background-color: rgb(27, 133, 199);
    border: 3px solid black;
    margin: 20px;
    text-align: left;
}

.headernav {
    width: 700px;
    height: 150px;
    background-color: rgb(217, 217, 222); 
    float: right;
}

.headernavlogo {
    width: 276px;
    height: 150px;
    background-color: rgb(217, 217, 222);
}

.headernavtext {
    width: 408px;
    height: 150px;
    float: right;
    background-color: rgb(217, 217, 222);
}

h2{
    font-size: 40pt;
    margin-left: 40px;
    margin-top: 5px;
    font-family: fantasy, Papyrus, sans-serif;
}

h3{
    font-size: 25pt;
    margin-left: 25px;
    font-family: fantasy, Papyrus, sans-serif;
}

h4{
    font-size: 20pt;
    margin-left: 25px;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

nav {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    
}

nav a:link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
    
}
  
nav a:visited {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
}
  
nav a:hover {
    color: white;
    background-color: gr;
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
}

.bodybox {
    margin-left: 200px;
    margin-top: 50px;
    padding-top: 50px;
    height: 800px;
    width: 1000px;
    background-color: rgb(176, 220, 237);
    border-radius: 75pt;
}

.bodytextbox {
    margin-left: 125px;
    height: 150px;
    width: 750px;
    background-color: rgb(188, 183, 183);
    border-radius: 45pt;
    align-content: center;
}

.infobodybox {
    height: 300px;
    width: 400px;
  
    margin-left: 325px;
    background-color: rgb(176, 220, 237);
}

.picbox1 {
    height: 200px;
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 50pt;
    background-color: pink;
}

.picbox2 {
    height: 200px;
    width: 300px;
    margin-top: 50px;
    border-radius: 50pt;
    background-color: pink;
    float: right;
}

img{
    border-radius: 25pt;
}
